{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://kit.fontawesome.com/cc8280d540.js" crossorigin="anonymous"></script> -->
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "blog/main.css" %}">
    {% if title%}
        <title>Speakup - {{title}}</title>
    {% else %}
        <title>Speakup</title>
    {% endif%}
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-info navbar-dark py-3 fixed-top mb-2">
        <div class="container">
            <a href="{% url "blog-home" %}" class="navbar-brand">SpeakUp</a>
            <div class="collapse navbar-collapse" id="#navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url "blog-home" %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "blog-about" %}" class="nav-link">About</a>
                    </li>
                    {% if user.is_authenticated%}
                        <li class="nav-item">
                            <a href="{% url "profile" %}" class="nav-link">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "post-create" %}" class="nav-link">Create new</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "logout" %}" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url "login" %}" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "register" %}" class="nav-link">Register</a>
                        </li>
                    {% endif %}
                    
                </ul>
            </div>
        </div>
    </nav>
    <!-- showcase -->
    <section class="mt-5 pt-3 ">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}   
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>